*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.navbar {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #6c6c6c;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ffffff;
}

.navbar-item {
  padding: 0.75rem;
}

.navbar .links {
  display: flex;
  justify-content: right;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.content-flex-container {
  display: flex;
  gap: 1.25rem;
  padding: 1.25rem;
  width: 100%;
}

@media (max-width: 600px) {
  .content-flex-container {
    flex-direction: column;
  }
}

.content-block {
  padding: 1.25rem;
  margin: 1.25rem;
  color: #ffffff;
  background-color: #6c6c6c;
  border: 1px solid #ffffff;
  flex: 1;
}

.content-block img {
  width: 100%;
  max-width: 40rem;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid #ffffff;
}

.bulleted-list {
  list-style-type: disc;
  padding-left: 1.25rem;
}

.bulleted-list li {
  margin-bottom: 0.5rem;
}

.bulleted-list a {
  color: #ffffff;
  text-decoration: underline;
}

.blog-entry {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.25rem;
  border-bottom: #ffffff 1px solid;
}

.blog-entry a {
  color: #ffffff;
  text-decoration: none;
}

.blog-entry p {
  margin: 0;
}