    <div class="navbar">
      <div class="home">
        <a href="{{ base_path }}index.html" class="logo">atharvatyagi.site</a>
      </div>
      <div class="links">
        <a href="{{ base_path }}games/index.html" class="navbar-link">Games</a>
        <a href="{{ base_path }}books/index.html" class="navbar-link">Books</a>
        <a href="{{ base_path }}shows/index.html" class="navbar-link">Shows</a>
        <a href="{{ base_path }}movies/index.html" class="navbar-link">Movies</a>
        <a href="{{ base_path }}thoughts/index.html" class="navbar-link">Thoughts</a>
      </div>
    </div>
